repos:
  - repo: https://github.com/norwoodj/helm-docs
    rev: v1.14.2
    hooks:
      - id: helm-docs
        args:
          # Make the tool search for charts only under the `example-charts` directory
          - --chart-search-root=charts

          # Sort values in the order they appear in the values.yaml file
          - --sort-values-order=file

          # Ignore values without descriptions
          - -ignore-non-descriptions