name: Verify Helm documentation

on:
  - pull_request

jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Run helm-docs
        uses: losisin/helm-docs-github-action@v1
        with:
          chart-search-root: charts
          sort-values-order: file
          fail-on-diff: true
